/*
  Author: Eliecer Arteaga
*/
/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
    from {top:-1000px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
  from {top:-1000px;opacity: 0;}
  to {top:0px;opacity:1;}
}
#body{
  background-color: #000;
  font-family: 'Dancing Script';
  margin: 0;
  /* Add animation */
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 2s;
}

#container-header{
  margin: 0 auto;
  width: 70%;
  height: 100px;
  background-color: #5b7989;
  padding:0;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
}
#siteName {
  width: 50%;
  display: inline-block;
}
#navBar{
  width:50%;
  display: inline-block;
  text-align: right;
  float:right;
}
#navBar ul li {
  list-style-type: none;
  display: inline;
  padding: 0 8px;
  font-size: 1.5em;
}
#navBar ul li a {
  color: white;
}
#navBar ul li a:target {
  text-decoration: none;
}
#siteName h1{
  color: #fff;
  text-shadow: 2px 2px #02010a;
  text-align: left;
}
#container-content {
  margin: 0 auto !important;
  width: 70%;
  height: auto: ;
  //background-color: yellow;
}
#content {
  display: flex;
  flex-flow: row wrap;
}
div [class*="bloque"]{
  min-height: 200px;
  flex: 1 2 40%;
}
.bloque1{
  color: #ddd;
  order: 1;
  display:flex;
  flex: 1 100% !important;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: #82c3a6;
}
.bloque1 img {
  width: 85%;
  height: 90%;
  box-shadow: 3px 3px #000;
}
.bloque2 {
  color: #333;
  order: 2;
  align-self: center;
  display:flex;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:  #d5c75f;
}
.bloque2 img, .bloque3 img {
  width: 100%;
  height;70%;
  text-align: center;
  border:1px solid #000;
  box-shadow: 3px 3px #000;
}
.bloque3 {
  color: #333;
  order: 3;
  align-self: center;
  display:flex;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:  #d5c75f;
}
#secondImage{
  transition-property: transform;
  transition-duration: 1.5s;
}
#secondImage:hover {
  -ms-transform: rotate(15deg); /* IE 9 */
	-webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
	transform: rotate(15deg);
}
#thirdImage{
  transition-property: transform;
  transition-duration: 1.5s;
}
#thirdImage:hover {
  -ms-translate: rotate(15deg); /* IE 9 */
	-webkit-translate: rotate(15deg); /* Chrome, Safari, Opera */
	transform: translate(10px,-10px);
}
figure {
  display: inline;
  padding: 0 auto;
}
figcaption{
  text-align: center;
  font-size: 2em;
  color: #000;
  text-decoration: underline;
}
figure a, figure a: link, figure a: visited, {}
.items {
	display: flex;
	flex-wrap: wrap;
}
.items .item {
	flex: 1 0 25%;
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
  padding: 10px;
  text-align:left;
}
footer {
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
}
.noDots {
  list-style-type: none;
  padding-left: 0;
}
.gridPicsContainer {
    display: flex;
    flex-flow: row wrap;
}
.gridPicsContainer .pics {
	flex: 1 0 33.33%;
  box-sizing: border-box;
  background-color:  #d5c75f;
  color: #171e42;
  align-self: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.evenPics {
  -webkit-filter: grayscale(80%);
  filter: grayscale(100%);
}

.image1 {
-webkit-filter: blur(10px);
filter: blur(10px);
}
.image3 {
-webkit-filter: sepia(90%);
filter: sepia(90%);
}
/** Responsive styles **/
@media only screen and (max-width: 767px) {
    #container-header,#container-content {width: 100%; margin: 0;}
    #container-header {border-radius: 0}
    #siteName {width: 100%}
    #siteName h1 {text-align: center; font-size: 1.6em}
    #navBar {width: 100%; background-color: #5b7989; margin: 0, padding-bottom: 5px; text-align: center;}
    #navBar ul {padding: 0; font-size: 0.8em}
    #content, .items {display:block}
    .bloque1 {width: 100%}
    .bloque2 figure, .bloque3 figure {font-size: 0.7em}
    footer {width: 100%}
}
