/*
  Author: Eliecer Arteaga
*/

body{
  background-color: #000;
  font-family: 'Dancing Script';
  //transition-property: color;
  //transition-duration: 1s;
}
body:target{background-color: white; transform: translate(20);}
#container-header{
  margin: 0 auto;
  width: 70%;
  height: 100px;
  background-color: #5b7989;
  padding:0;

  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
#siteName {
  width: 50%;
  display: inline-block;
}
#navBar{
  width:50%;
  display: inline-block;
  text-align: right;
  float:right;
}
#navBar ul li {
  list-style-type: none;
  display: inline;
  padding: 0 8px;
  color: #fff;
  font-size: 1.5em;
  transition:

}
/* #navBar ul li a {
  color: #fff;

} */
/* #navBar ul li a:visited {
  text-decoration: none;
} */
#siteName h1{
  color: #fff;
  text-shadow: 2px 2px #02010a;
  text-align: left;
}
#container-content {
  margin: 0 auto !important;
  width: 70%;
  height: auto: ;
  //background-color: yellow;
}
#content {
  display: flex;
  flex-flow: row wrap;

}
div [class*="bloque"]{
  min-height: 200px;
  flex: 1 2 40%;
}
.bloque1{
  color: #ddd;
  order: 1;
  display:flex;
  flex: 1 100% !important;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: #82c3a6;

}
.bloque1 img {
  width: 85%;
  height: 90%;
  box-shadow: 3px 3px #000;

}
.bloque2 {
  color: #333;
  order: 2;
  align-self: center;
  display:flex;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:  #d5c75f;


}
.bloque2 img, .bloque3 img {
  width: 100%;
  height;70%;
  text-align: center;
  border:1px solid #000;
  box-shadow: 3px 3px #000;
}
.bloque3 {
  color: #333;
  order: 3;
  align-self: center;
  display:flex;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:  #d5c75f;
}
#secondImage{
  transition-property: transform;
  transition-duration: 1.5s;
}
#secondImage:hover {
  -ms-transform: rotate(15deg); /* IE 9 */
	-webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
	transform: rotate(15deg);
}

#thirdImage{
  transition-property: transform;
  transition-duration: 1.5s;
}
#thirdImage:hover {
  -ms-translate: rotate(15deg); /* IE 9 */
	-webkit-translate: rotate(15deg); /* Chrome, Safari, Opera */
	transform: translate(10px,-10px);
}

figure {
  display: inline;
  padding: 0 auto;
}

figcaption{
  text-align: center;
  font-size: 2em;
}

figcaption > a {

  text-decoration: none;
  color: #000;
}

.items {
	display: flex;
	flex-wrap: wrap;

}
.items .item {
	flex: 1 0 25%;
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
  padding: 10px;
  text-align:left;

}
footer {
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
}

.noDots {
  list-style-type: none;
  padding-left: 0;
}

.gridPicsContainer {
    display: flex;
    flex-flow: row wrap;
}

.gridPicsContainer .pics {
	flex: 1 0 33.33%;
  box-sizing: border-box;
  background-color:  #d5c75f;
  color: #171e42;
  align-self: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
